/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* ROOT */

:root {
  --col-back-1: #171922;
  --col-back-2: #2a304e;
  --col-back-2h: #323f64;
  --col-front-1: #8eadb7;
  --col-front-2: #4d575c;
  --col-link-1: #9ca5b1;
  --col-link-1h: #88d29e;
  --col-title-1: #cba75a;
  height: 100%;
}

/* DEFAULT */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--col-link-1);
}

a:hover {
  color: var(--col-link-1h);
}

p {
  margin: 1em 0;
}

h1,
h2 {
  color: var(--col-title-1);
}

.inset {
  margin-left: 2em;
}

/* BODY */

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 1.5em;
  color: var(--col-front-1);
  background-color: var(--col-back-1);
  font-family: 'Courier Prime', monospace;
}

/* HEADER */

header ul {
  margin: 1em 0 2em 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
}

header ul > * {
  flex: 1 1 0;
}

header ul li {
  display: flex;
  height: 1.8em;
  align-items: center;
  padding: 0.6em;
  gap: 0.5em;
  border: 1px solid;
  border-radius: 0.5em;
  background-color: var(--col-back-2);
}

header ul li:hover {
  background-color: var(--col-back-2h);
}

header ul li img {
  width: 2em;
  height: 2em;
  filter: invert() brightness(50%) sepia(50%) saturate(300%) hue-rotate(160deg);
}

header ul li:hover img {
  filter: invert() brightness(60%) sepia(50%) saturate(300%)
    hue-rotate(65deg);
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2em;
}

main p {
  margin-top: 1em;
}

#hero img {
  max-width: 100%;
  max-height: 50vh;
}

/* FOOTER */
footer {
  align-self: center;
  font-size: small;
  color: var(--col-front-2);
  margin: 1em 0;
}
